extends layout

block content
    h1=string

    p The return string from the GET request is #{string}

    p The original return string of POST is #{OriginalString}

    p The length of the original return string of POST is #{OriginalStringLength}